<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    <!-- 打开使用注解的方式进行AOP编程的相关处理器 -->
    <aop:aspectj-autoproxy/>
	<!-- 数据源的配置，用到的是apache提供的数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/taobiao" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- 配置连接池启动的初始值 -->
		<property name="initialSize" value="1" />
		<!-- 连接池的最大的连接数吗 -->
		<property name="maxActive" value="500" />
		<!-- 最大的空闲值 -->
		<property name="maxIdle" value="2" />
		<!-- 最小的空闲值 -->
		<property name="minIdle" value="1" />
	</bean>

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 注入一些映射的文件 -->
		<property name="mappingResources">
			<list>
				<value>com/taobiao/beans/Admin.hbm.xml</value>
				<value>com/taobiao/beans/Brand.hbm.xml</value>
				<value>com/taobiao/beans/Collect.hbm.xml</value>
				<value>com/taobiao/beans/ConsigneeAddress.hbm.xml</value>
				<value>com/taobiao/beans/Message.hbm.xml</value>
				<value>com/taobiao/beans/OrderDetail.hbm.xml</value>
				<value>com/taobiao/beans/Picture.hbm.xml</value>
				<value>com/taobiao/beans/Product.hbm.xml</value>
				<value>com/taobiao/beans/Series.hbm.xml</value>
				<value>com/taobiao/beans/TUser.hbm.xml</value>
				<value>com/taobiao/beans/Userorder.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.cache.use_second_level_cache=true
				hibernate.cache.use_query_cache=false
				hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
			</value>
		</property>
	</bean>

	<!-- 配置事务管理器 -->

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    <!-- 打开事务注解的支持 -->
    <tx:annotation-driven transaction-manager="txManager" />

   <!-- 后台管理的配置 -->
     <bean id="managerUser" class="com.taobiao.back.service.ManagerUserImpl">
         <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <bean id="managerBrand" class="com.taobiao.back.service.ManagerBrandImpl"> 
         <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <bean id="managerSeries" class="com.taobiao.back.service.ManagerSeriesImpl">
         <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <bean id="managerProduct" class="com.taobiao.back.service.ManagerProductImpl">
           <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <bean id="managerUserorder" class="com.taobiao.back.service.ManagerUserorderImpl">
           <property name="sessionFactory" ref="sessionFactory" />
     </bean>
     <bean id="managerMessage" class="com.taobiao.back.service.ManagerMessageImpl">
           <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <bean id="managerAdmin" class="com.taobiao.back.service.ManagerAdminImpl" >
           <property name="sessionFactory" ref="sessionFactory"/>
     </bean>
     <!-- 后台Action交给Spring去管理 -->
     <bean id="registerAction" class="com.taobiao.back.action.RegisterAction" scope="prototype">
         <property name="managerUser" ref="managerUser"/>
         <property name="tUser" ref="tUser"></property>
     </bean>
     <bean id="brandAction" class="com.taobiao.back.action.BrandAction"  scope="prototype">
          <property name="managerBrand" ref="managerBrand"/>
          <property name="brand" ref="brand"/>
     </bean>
     <bean id="productAction" class="com.taobiao.back.action.ProductAction" scope="prototype">
          <property name="managerProduct" ref="managerProduct"/>
           <property name="managerBrand" ref="managerBrand"/>
           <property name="managerSeries" ref="managerSeries"/>
     </bean>
     
      <!-- 后台Action交给Spring去管理 -->
      <!-- 业务bean交给Spring去管理 -->
      <bean id="tUser" class="com.taobiao.beans.TUser">
      </bean>
      <bean id="brand" class="com.taobiao.beans.Brand"></bean>
      <!-- 业务bean交给Spring去管理 -->
   <!-- 后台管理配置 -->


</beans>